@charset "UTF-8";

/* 
    New Perspectives on HTML5 and CSS3, 7th Edition
    Tutorial 3
    Case Problem 4
    
    Park City Gazette
    Author: Maria De Jesus Rizo
    Date:   10.29.18

    Filename: pcg_front.html
 */