@charset "UTF-8";

/* 
    New Perspectives on HTML5 and CSS3, 7th Edition
    Tutorial 3
    Case Problem 4
    
    Park City Gazette
    Author: Maria De Jesus Rizo
    Date:   10.29.18

    Filename: pcg_layouts.html
 */

/* Grid Row Styles */
/* Styles within this section will affect the grid rows of the page layout. */
/* The selector states that any div with a class of row within the HTML document will not be affected by any floating elements that many have come before it. */
div.row {
    clear: both;
}

/* The below selector states that the div with a class of row will be affected. The after psuedo element allows for content to be added after the main content. In this case, the selector and properties are being used in order to prevent container collapse within each class row element.  */
div.row::after {
    clear: both;
    content: "";
    display: table;
}

/* Grid Column Styles */
/* Styles within this section will affect the grid columns of the page layout. */
/* The selector states that all divs wih classes begining with 'col-' will be affected. The float left property floats these elements to the left. */
div[class^="col-"] {
    float: left;

}

/* The selector states that the div with a class of col-1-1. The width property specifies the width of the element on the page.  */
div.col-1-1 {
    width: 100%;
}

/* The comment from above applies to the rest of the styles in this section, the only difference being the class being affected and the width being applied. */
div.col-1-3 {
    width: 33.33%;
}

div.col-3-10 {
    width: 30%;
}

div.col-7-10 {
    width: 70%;
}

div.col-2-5 {
    width: 40%;
}

div.col-3-5 {
    width: 60%;
}

/* Side Navigation Styles */
/* Styles within this section will affect the layout of the side navigation in the HTML document. */
/* The selector states that the nav element with a class of sideNavigation will be affected by the styles listed within. */
nav.sideNavigation {
    clear: both;
    float: left;

}

/* Section ID Marathon Styles */
/* Styles within this section will affect the layout of the section with an id of marathon in the HTML document. */
/* The selector states that the section element with an id of marathon will be affected by the styles within. The clear left property clears the element of any content to the left of it. */
section#marathon {
    clear: left;
    float: left;
}

/* The selector states that the img element nested within the setion element with an id of marathon will be affected by the styles listed. */
section#marathon img {
    clear: both;
    float: left;
}

/* Footer Vertical Navigation Styles */
/* Styles within this section will affect the layout of  the nav with a class of verticalNavigation nested within the footer. */
/* The selector states that the listed styles will be applied to the nav element with a class of verticalNavigation nested within the footer. */
footer nav.verticalNavigation {
    float: left;
    width: 100%;
    height: 100%;
}